<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/layout.css">
    <link rel="stylesheet" href="/styles/base.css">
    <link rel="stylesheet" href="/styles/modules.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>

<body>
    <header>
        <nav>
            <h1>
                Books app 
            </h1>
            <i class="fa fa-book fa-lg" aria-hidden="true"></i>
            <button class="menuButton">menu</button>
            <ul>
                <li><a href="/">Home Page</a></li>
                <li><a href="/search">Search for book</a></li>
                <li></li>
            </ul>
        </nav>
    </header>
    <main>
        <section id="sectionIndex">


        
        <% data.forEach(item=>{ %>
<div>



        <img src="<%=item.img %>" alt="">
        <h2>
            <%= item.title %>
        </h2>
        <h2>
            <%=item.auther%>
        </h2>
<a href="/books/<%=item.id%>">View Full Details/ Edit</a>
<!-- <button id="details">Show more Details</button> -->
        
        <article>
            <p>
            <%=item.description %>
        </p>
        <p>
            <%=item.isbn%>
        </p>
        <p>
            <%=item.bookshelf%>
        </p>
       
        </article>

    </div>

    
    


        
        <% }) %>
    </section>
    </main>
    <footer></footer>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="/app.js"></script>
</body>

</html>