<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/layout.css">
    <link rel="stylesheet" href="/styles/base.css">
    <link rel="stylesheet" href="/styles/modules.css">

</head>

<body>
    <header>Hello 301 Instructional Team ♥</header>
    <main>
        <% data.forEach(item=>{ %>
            <img src="<%=item.img %>" alt="">
            <h2>
                <%= item.title %>
            </h2>
            <h2>
                <%=item.auther%>
            </h2>
            <p>
                <%=item.description %>
            </p>
            <p>
                <%=item.isbn%>
            </p>
            <p>
                <%=item.bookshelf%>
            </p>
       <% }) %>
    </main>
    <footer></footer>
</body>

</html>